body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.info {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
}
#root {
  display: flex;
  justify-content: center;
}
.Posts {
  width: 80vw;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 40em;
  justify-content: space-around;
}
.images {
  height: 60vh;
  width: 35vw;
  border-radius: 5px;
}